<div class="job-container" *ngIf="job">
  <nz-card [nzTitle]="'Job Detail Information'">
    <nz-card nzType="inner" [nzTitle]="job.Job_Name" >
      <p *ngIf="job.GetData_day">Get Date: {{job.GetData_day}}</p>
      <p *ngIf="job.Data_Type">Data Type: {{job.Data_Type}}</p>
      <p *ngIf="job.Data_Category_Folder"> Data Folder: {{job.Data_Category_Folder}}</p>
      <p *ngIf="job.Last_StartTime">Last Start Time: {{job.Last_StartTime | slice:0:10 |date:"yyyy/MM/dd"}} : {{job.Last_StartTime | slice: 11:22}}</p>
      <p *ngIf="job.Last_EndTime">Last End Time: {{job.Last_EndTime | slice:0:10 |date:"yyyy/MM/dd"}} : {{job.Last_EndTime | slice: 11:22}}</p>
      <nz-divider nzText="Update Status" nzOrientation="left"></nz-divider>
      <p *ngIf="job.Last_Tx_Dt">Job Date: {{job.Last_Tx_Dt}}</p>
      <nz-date-picker  [nzFormat]="dateFormat" [(ngModel)]="updateDate"></nz-date-picker>
      <p *ngIf="job.Last_Job_Status">Last Status: {{job.Last_Job_Status}}</p>
      <nz-select style="width: 174px;" nzAllowClear nzPlaceHolder="Select a status" [(ngModel)]="updateStatus">
        <nz-option nzValue="Ready" nzLabel="Ready"></nz-option>
        <nz-option nzValue="Done" nzLabel="Done"></nz-option>
      </nz-select>
      <nz-alert *ngIf="errorMessage" nzType="error" [nzMessage]="errorMessage" nzShowIcon></nz-alert>
      <button class="subBtn" nz-button [nzSize]="'large'" nzType="primary">Submit</button>
    </nz-card>
  </nz-card>
</div>
