<div class="nav-bar">
  <app-container>
    <div class="nav-container">
      <div id="logoContainer" class="icon"
           class="ant-col-xs-22 ant-col-sm-22 ant-col-md-8 ant-col-lg-5 ant-col-xl-5 ant-col-xxl-4">
        <a routerLink="home" id="logo"><img [alt]="'logo'" src="assets/logo-with20.svg" alt=""></a>
      </div>
      <ul class="menu left ant-col-xs-0 ant-col-sm-0 ant-col-md-16 ant-col-lg-19 ant-col-xl-19 ant-col-xxl-20" nz-menu
          [nzMode]="'horizontal'">
        <li nz-menu-item><a routerLink="/home">Home</a></li>
        <li nz-menu-item><a routerLink="/prepare_job_list">Data Prepare</a></li>
        <li nz-menu-item><a routerLink="/etl-job-list">ETL Job </a></li>
      </ul>
      <div class="subBtnant ant-col-xs-2 ant-col-sm-2 ant-col-md-0 ant-col-lg-0 ant-col-xl-0 ant-col-xxl-0">
        <button nz-button [nzType]="'primary'" style="margin-top: 15px;" (click)="toggleSubNav()"><i class="anticon"
                                                                                                     [class.anticon-menu-unfold]="isSubNavIsCollapsed"
                                                                                                     [class.anticon-menu-fold]="!isSubNavIsCollapsed"></i>
        </button>
      </div>
      <ul nz-menu [nzMode]="'vertical'" class="nav-collapse ant-col-xs-24 ant-col-sm-24  ant-col-md-0 ant-col-lg-0 ant-col-xl-0 ant-col-xxl-0" [nzInlineIndent]="0"
          [nzInlineCollapsed]="isSubNavIsCollapsed" [class.hide]="!isSubNavIsCollapsed">
        <li nz-menu-item><a routerLink="home">Home</a></li>
        <li nz-menu-item><a routerLink="prepare_job_list">Data Prepare</a></li>
        <li nz-menu-item><a routerLink="etl-job-list">ETL Job </a></li>
      </ul>
    </div>
  </app-container>
</div>
