.select-panels-container {
  margin-top: 25px;
}
.select-panel-container {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 0 15px;
}
.select-panel {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin-top: 15px;
}
