<div class="select-panels-container">
  <div nz-row nzType="flex"nzJustify="start">
    <div class="select-panel-container" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="8">
    <nz-card class="select-panel" nzTitle="Data Prepare Job (NX-IT)" >
      <p><a routerLink="">External Job</a></p>
      <p><a routerLink="">Internal Job</a></p>
    </nz-card>
    </div>
    <div class="select-panel-container" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="8">
      <nz-card class="select-panel" nzTitle="ETL Job (Teradata)" >
        <p><a routerLink="">Load Job</a></p>
        <p><a routerLink="">Transform Job</a></p>
        <p><a routerLink="">M Job</a></p>
      </nz-card>
    </div>
  </div>
</div>
